<p>
  <strong>User:</strong>
  <%= comment.user %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

 <%= link_to 'delete Comment', [comment.tweet, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>